.div{
    display: inline-block;
}


.static-box{
    background-color: antiquewhite;
    position: static;
    top:100px;
    height: 100px;
    width: 100px;
    display: inline-block;
}


.relative-box{
    background-color: aquamarine;
    position: relative;
    bottom: 20px;
    right: 30px;
    height: 100px;
    width: 100px;
    display: inline-block;
 
}

.absolute-box{
    height: 100px;
    width: 100px;  
    background-color: blue;
    position: absolute;
    top:10px;
    left:15;
    display: inline-block;
}


.fixed-box{
    background-color: plum;
    height: 100px;
    width: 100px; 
    display: inline-block;
    position: fixed;
    bottom: 10px;
    right: 10px;
}


.sticky-box{
    background-color: rgb(49, 227, 9);
    height: 100px;
    width: 100px; 
    display: inline-block;   
   top:0px;
}

